/* Global CSS rules */

h1, h2, h3 {
  color: #4A8BBC !important;
  font-weight: bolder !important;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
} 

.container {
  flex: 1;
  display: flex;
  padding: 16px;
}

.logo {
  vertical-align: top;
  margin-right: 8px;
}

.ant-alert {
  margin-bottom: 16px;
}

.page-card {
  margin: auto;
  width: 100%;
  max-width: 550px;
}

button {
  border-radius: 1.5em !important;
  font-weight: bold !important;
  line-height: 2 !important;
  height: 40px !important;
  text-transform: uppercase !important;
  margin: 8px 0;
}