/* Global CSS rules */

h1, h2, h3 {
  color: #4A8BBC !important;
  font-weight: bolder !important;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
} 

br {
  display: block;
  margin-top: 16px;
  content: " "
}

.container {
  flex: 1;
  display: flex;
  padding: 16px;
}

img {
  max-width: 100%;
}

.logo {
  vertical-align: top;
  margin-right: 8px;
}

.ant-alert {
  margin-bottom: 16px;
}

.page-card {
  margin: auto;
  width: 100%;
  max-width: 550px;
}

button {
  border-radius: 1.5em !important;
  font-weight: bold !important;
  line-height: 2 !important;
  height: auto !important;
  min-height: 40px !important;
  text-transform: uppercase !important;
  margin: 8px 0;
  max-width: 100%;
  white-space: normal;
}

button > span {
  white-space: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}