.banner {
  min-height: calc(100vh - 120px);
  height: auto;
  width: 100%;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: #fff;
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 16px;
  text-align: left;
}

.title {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.greeting {
  font-size: 1.5em;
  margin: 8px;
  color: #4A8BBC;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 200px;
  margin: 24px auto;
}

.scroller {
  color: #4A8BBC;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  animation: upDownMove 1.2s ease-in-out infinite alternate;
}

@keyframes upDownMove {
  to {
    transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  .title {
    flex-direction: column;
  }
}