.section {
  background-color: #fff;
}

.header {
  color: #fff;
  padding: 8px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: #4A8BBC;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.image {
  text-align: center;
  flex: 4;
  padding: 24px;
}

.description {
  font-size: 1.2em;
  font-weight: 500;
  color: #4A8BBC;
  margin: 24px;
  flex: 7;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column !important;
  }

  .image {
    width: 100%;
  }
}