.profile {
  margin: 8px auto;
  padding: 16px 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.nav {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0 0 16px 8px;
  border-right: 1px solid #e8e8e8;
  text-align: left;
}

.menu {
  width: 256px;
  flex: 1;
}

.content {
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.alert {
  align-self: flex-start; 
  width: 100%;
  max-width: 1200px;
  margin: 8px auto;
}

.form {
  flex: 1;
  max-width: 450px;
}

.qrcode {
  flex: 1;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin: 8px;
  }

  .title {
    border: 0;
    padding: 0;
    text-align: center;
  }

  .menu {
    width: 100%;
    margin: 16px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .content {
    flex-direction: column-reverse;
  }

  .form {
    max-width: 100%;
  }
}